/* 
    Document   : styles
    Created on : 27/10/2013, 18:26:58
    Author     : ThiagoHenrique
    Description:
        Purpose of the stylesheet follows.
*/

Pane, .split-pane {
    -fx-background-image: url("gplaypattern.png");
}

Pane Pane {
    -fx-background-image: null;
}

.split-pane.left {
    -fx-background-image: url("ifsp.png");
    -fx-background-repeat: no-repeat;
}

.btn.btn-success:hover, .btn.btn-success:focused {
    -fx-background-color: #58d68d;
    -fx-text-fill: white;
}

.btn.btn-success {
    -fx-background-color: #2ecc71;
}